body {
  font-family: Avenir;
  /*margin: 40px;*/
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 15%;
  margin-left: 15%;
}

header {
  margin: 0;
}

#photo {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

h1 {
  margin: 0;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 4%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #4682B4;
}

h2 {
  margin-top:5%;
  font-size: 1.1em;
  letter-spacing: 2px;
  color: #75767D;
}

h3 {
  /*padding-top: 3%;*/
  font-size: 1em;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 0;
  font-weight: normal;
}

#intro {
  margin-right: 0;
  margin-left: 0;
  margin-top: 2%;
  margin-bottom: 2%;
}

p {
  letter-spacing: 0.2px;
  font-size: 1em;
  line-height: 1.8em;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 0;
  margin-bottom: 0;
}

#contact-links {
  list-style-type: none;
  padding: 0;
  margin-bottom: 5%;
  text-align: center;
}

a {
  text-decoration: underline;
  color: #75767D;
  margin-bottom: 2%;
}

ul {
  letter-spacing: 0.2px;
  font-size: 1em;
  line-height: 1.8em;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: dash;
}