body {
  font-family: Avenir;
  /*margin: 40px;*/
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 15%;
  margin-left: 15%;
}

header {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 1.5em;
  letter-spacing: 2px;
  padding-bottom: 6%;
}

h2 {
  margin-top:5%;
  font-size: 1.1em;
  letter-spacing: 2px;
}

h3 {
  padding-top: 3%;
  font-size: 1em;
  margin: 0;
}

h4 {
  font-size: 0.85em;
  margin: 0;
  font-weight: normal;
}

p, li {
  letter-spacing: 1px;
  font-size: 0.9em;
}